@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ball-Pen';
    src: url('Ball-Pen-Regular.woff2') format('woff2'),
        url('Ball-Pen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

