.accordion {

  .card-header {
    padding: 0;
    background: none;
    border-color: $dark-brown;
  }

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    text-decoration: none !important;
    text-align: left;

    &::after {
      content: '+';
      font-weight: bold;
      font-size: 2rem;
      display: block;
      color: $dark-brown;
      padding-left: 1rem;
    }
  }

  &__icon {
    height: 2rem;
    margin-bottom: 5rem;
  }
}
