.home .page-header,
.template-flexible .page-header {
  @extend .sr-only;
}

.page-header {
  padding: 10rem 0;
  background-size: cover;
  background-position: 50%;
  h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
    color: #f5f4e0;
    position: relative;
    z-index: 20;
  }
  &--tint {
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      background: rgba(#000, 0.3);
    }
  }
}

.site-header .nav li {
  @extend .nav-item;

  &.active a {
    color: theme-color('dark');
  }
}

.site-header .nav a {
  @extend .nav-link;
  color: #fff;
  font-weight: 600;
  padding: 0.75rem 2.5rem;
  &:hover {
    color: theme-color('dark');
  }
}

.site-header {

  padding-top: 1rem;
  position: relative;

  g > path {
    fill: #f3e0c4 !important;
  }

  p {
    font-style: italic;
    font-family: 'openSans', sans-serif;
    font-weight: 300;
    line-height: normal;
    color: #020202;
  }
}

@include media-breakpoint-down(lg) {
  .site-header .nav a {
    padding: 0.75rem 1.5rem;
  }
}

@include media-breakpoint-down(md) {

  #mainMenu {
    display: none;
  }

  .site-header .nav {
    display: block;
    a {
      padding: 2rem 0 0 0;
    }
    li:last-child > a {
      padding-bottom: 2rem;
    }
  }
}
