#latestInstagrams {
    position: relative;
    & > img:first-child {
        position: absolute;
        height: 400px;
        top: -60px;
        display: block;

        @include media-breakpoint-down(xs) {
          display: none;
        }
    }
}

.blog #latestInstagrams > img:first-child {
    display: none;
}

.two-col {
  padding: 0;
  background: theme-color('light');

  ol {
    padding-left: 1rem;
  }

  ul {
    padding-left: 0;
    li {
      background-image: url(../images/tick-outline-icon.png);
      background-repeat: no-repeat;
      list-style: none;
      padding-left: 2rem;
      background-position: 0 50%;
    }
  }

  &:nth-of-type(even) {
    @extend .slanted-section--reversed;
  }
}

.slanted-section {
    display: flex;

    &__image {
        position: relative;
        width: 50%;
        background-size: cover;
        background-position: 50%;
        clip-path: polygon(0% -300%, 0% 100%, 100% 100%);
        z-index: 20;
    }
    &__content {
        width: 40%;
        padding: 8rem 5rem;
        @extend .container;
        position: relative;

        > img:first-child {
          position: absolute;
          top: -63px;
          left: 5rem;
        }
        h2 {
            line-height: 1.6;
        }
    }
}

@media screen and (max-width: 1500px) {
    .slanted-section__content {
        width: 45%;
        padding: 5rem 0;

        > img:first-child {
          left: 0rem;
        }
    }
    #ourStory > img:last-child {
        display: none;
    }
}

@include media-breakpoint-down(lg) {
    .slanted-section {
        width: 100%;
        flex-direction: column !important;

        .slanted-section__content {
            width: 100%;
            padding: 3rem 1rem;
            > img:first-child {
              display: none;
            }
        }
        .slanted-section__image {
            width: 100%;
            clip-path: none !important;
            padding-bottom: 56.25%;
        }

    }

}


//icon grid
.icon-grid {

  &__col {
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 11px;
      height: 22px;
      position: absolute;
      right: -6px;
      top: 6px;
      background: url(../images/angle-right.png);
    }
    &:last-child:after {
      display: none;
    }
  }

  &__item {
    width: 100%;
    max-width: 255px;
    margin: auto;
  }
}

@include media-breakpoint-down(md) {
  .icon-grid__col:nth-child(even):after {
    display: none;
  }
}

@include media-breakpoint-down(xs) {

  .icon-grid__col {
    &:after {
      right: calc(50% - 6px);
      top: -1.5rem;
      transform: rotate(90deg);
    }
    &:nth-child(even):after {
      display: block;
    }
    &:first-child {
      .icon-grid__item {
        padding-top: 0;
      }
      &:after {
        display: none;
      }
    }
  }

  .icon-grid__item {
    padding-top: 2rem;
  }

}

// end icon grid


.feature-banner {
    position: relative;
    padding: 8rem 0;
    min-height: 648px;
    display: flex;
    width: 100%;
    align-items: center;
    &__slider,
    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    &__content {
        position: relative;
        z-index: 20;
        width: 100%;
    }
    .slick-list,
    .slick-track {
        height: 100%;
        z-index: 10;
    }
    .slick-slide {
        position: relative;
    }
}

.feature-banner--tinted {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.3);
        z-index: 10;
    }
}

.feature-banner__slide {
    background-size: cover;
    background-position: 50%;
}

.feature-banner__content {
    text-align: center;
    h2 {
        color: #f5f4e0;
        margin-bottom: 2.5rem;
    }
    h2 > span {
        display: block;
    }
    .font-weight-light {
        font-size: 58px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .font-weight-semi {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .fancy-font {
        font-size: 6rem;
        line-height: 0.9;
    }
    .btn {
        border-color: #fff;
        border-width: 2px;
    }
}


.slanted-section--reversed {
    flex-direction: row-reverse;
    .slanted-section__image {
        clip-path: polygon(100% -300%, 100% 100%, 0 100%);
    }
}


#ourStory {
    position: relative;
    margin-top: -6px;

    & > img:last-child {
        position: absolute;
        right: 0;
        bottom: -150px;
        z-index: 50;
    }

    .slanted-section__image {
        background-position: 50% 10%;
    }

}

#whyUs {
    position: relative;
    margin-top: 3.5rem;
    background: theme-color('light');
}

#journey {
    position: relative;
    & > img:first-child {
        position: absolute;
        top: -63px;
        left: 70%;
    }
}

.journey__slider {

    padding-top: 2rem;

    a:focus {
        outline: none;
    }

    .slick-slide {
        margin: 0 15px;
    }
    /* the parent */
    .slick-list {
        margin: 0 -15px;
    }
    .slick-next,
    .slick-prev {
        width: 2rem;
        height: 2rem;
        &:before {
            font-size: 2rem;
        }

    }

    .slick-next {
        right: -4rem;
    }
    .slick-prev {
        left: -4rem;
    }

}

@media screen and (max-width: 1300px) {
    .journey__slider {
        .slick-next,
        .slick-prev {
            top: 103%;
            margin-bottom: -2rem;
        }
        .slick-prev {
            left: 50%;
            margin-left: -2.5rem;
        }
        .slick-next {
            right: 50%;
            margin-right: -2.5rem;
        }
    }
}

.full-width-slider {
    .slide {
        padding-bottom: 46.25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .slick-dots {
        bottom: 2rem;
    }
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

#contactUs,
#singlePost {
    position: relative;
    & > img:first-child,
    & > img:last-child {
        position: absolute;
        top: 0;
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    & > img:last-child{
        right: 0;
    }
}

#welcome {
    position: relative;
    margin-bottom: -3.5rem;
    & > img:first-child,
    & > img:last-child {
        position: absolute;
        top: 0;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    & > img:last-child{
        right: 0;
    }
}

#flexibleBlock1 {
  position: relative;
  &:before,
  &:after {
    content: '';
    width: 230px;
    height: 400px;
    display: block;
    position: absolute;
    top: 0;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &:before {
    background-image: url(../images/wing-right.svg);
    left: 0;
  }

  &:after {
    background-image: url(../images/wing-left.svg);
    right: 0;
  }

}
