.btn-round {
    border-radius: 2rem;
}
.btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-width: 2px;
    box-shadow: none !important;
}

.btn-primary {
    color: #fff;
}

.btn-outline-primary {
    background: #fff;
    &:hover {
        color: #fff;
    }
}

.hamburger {
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -15px;
    outline: none !important;
    opacity: 1 !important;
}