/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.form-control {
  border-color: #fff;
}

label {
  color: #9f9f9f;
  font-weight: normal;
}

.hf-message,
.mc4wp-alert,
div.wpcf7-response-output {
  @extend .alert;
  margin: 2rem 0 0 0;
  padding: 0.75rem 1.25rem;

  p {
    margin-bottom: 0;
  }
}
.hf-message-success,
.mc4wp-success,
div.wpcf7-mail-sent-ok {
  @extend .alert-success;
}
.mc4wp-error,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  @extend .alert-danger;
}

.modal .form-control {
  background: $light;
  border-color: $light;
}

.grecaptcha-badge {
  visibility: hidden;
}
