@font-face {
  font-family: 'openSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'openSans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'openSans';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'openSans';
  src: url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
       url('../fonts/OpenSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'openSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'centuryGothic';
  src: url('../fonts/CenturyGothic.woff2') format('woff2'),
       url('../fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ballPen';
  src: url('../fonts/Ball-Pen-Regular.woff2') format('woff2'),
       url('../fonts/Ball-Pen-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-weight: 300;
  font-style: normal;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.icon {
  height: 2rem;
}

.zoom-hover {
  transition: all 0.3s;
  display: block;
  overflow: hidden;

  &:hover {
    opacity: 0.6;

    img {
      transform: scale(1.1);
    }
  }

  img {
    transition: all 0.3s;
  }
}

.ekko-lightbox-nav-overlay a {
  color: #fff !important;
}

.ekko-lightbox .modal-footer {
  justify-content: center;
  font-weight: bold;
  padding-top: 0;
  border-top: 0;
}

p,
ol,
ul {
  line-height: 1.8;
}

section {
  padding: 5rem 0;
}

.mt-gutter {
  margin-top: 32px;
}

h2 {
  margin-bottom: 2rem;

  .fancy-font {
    font-size: 3rem;
  }
}

.font-weight-light {
  font-family: 'openSans', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-weight-semi {
  font-family: 'openSans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.fancy-font {
  font-family: 'ballPen';
}

.social-icons {

  text-align: center;

  a {
    display: inline-block;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    height: 1.5rem;
    overflow: visible;
  }
}

.fancy-text {
  font-family: 'ballPen', sans-serif;
  font-size: 150%;
  position: relative;
  top: -5px;
}

.card {
  border: none;
  background: transparent;
}
.card-title {
  margin-bottom: 0.25rem;
}
.card-body {
  padding: 1rem 0.5rem;
  background: transparent;
}

.object-cover {
  object-fit: cover;
}
