/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$primary: #E39031;
$light: #fdfbf6;
$dark-brown: #bc7133;

$theme-colors: (
  primary: $primary,
  secondary: #e5b981,
  light: $light,
  dark: #454545
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$enable-rounded: false;
$input-btn-focus-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$font-family-base: 'openSans', sans-serif;
$headings-color: theme-color('primary');
$body-color: theme-color('dark');

$modal-backdrop-opacity: 0.7;

$slick-loader-path: "../images/";
$slick-font-path: "../fonts/";
$slick-arrow-color: theme-color('primary');
$slick-dot-size: 1rem;


/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: $primary;
$hamburger-types: (slider);
